<div style="text-align: center;">
    <h1 style="
        background: linear-gradient(135deg, hsla(0, 0%, 100%, 1.00), #4e454aff); 
        color: white; 
        padding: 15px 30px; 
        border-radius: 500px; 
        font-family: 'Segoe UI', Arial, sans-serif; 
        box-shadow: 0 4px 15px rgba(0,0,0,0.3);
        display: inline-block;
    ">
        Data Structure
    </h1>
</div>

<h3 style="color:#FFFFFF"><strong>1. We need to print 0,3,6,9,12 using for loop</strong></h3>

In [2]:
for i in range(0,13,3):
    print(i,end=" ")

0 3 6 9 12

<h4 style="color:#FFFFFF; display:inline;"><strong>2. We need to print 0 ,3 ,6 ,9 ,12 and index of positions using for loop </strong></h4>
<h6 style="color:#FFFFFF; display:inline; margin-left:8px;">hint: enumerate function</h6>

In [3]:
for i,j in enumerate(range(0,13,3)):
    print(f"Index: {i}, Value: {j}", end=" ")

Index: 0, Value: 0 Index: 1, Value: 3 Index: 2, Value: 6 Index: 3, Value: 9 Index: 4, Value: 12

<h3 style="color:#FFFFFF"><strong>3. Given a list of numbers. write a program to turn every item of a list into its
square</strong></h3>

In [6]:
list = [1, 2, 3, 4, 5]
sqlist=[i**2 for i in list]
sqlist

[1, 4, 9, 16, 25]

<h3 style="color:#FFFFFF"><strong>4. write a program to Concatenate two lists</strong></h3>

In [8]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
all = list1 + list2
all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<h3 style="color:#FFFFFF"><strong>5. write a program to Reverse the tuple</strong></h3>

In [11]:
tuple=(1, 2, 3, 4, 5)
revtuple=tuple[::-1]
revtuple

(5, 4, 3, 2, 1)

<h3 style="color:#FFFFFF"><strong>6. Convert two lists into a dictionary</strong></h3>

In [9]:
list1 = [0, 1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5, 6]
dict=dict(zip(list1, list2))
dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

<h4 style="color:#FFFFFF"><strong>7. Write a function called sum_numbers that takes in any number of arguments
and returns their sum</strong></h4>

In [12]:
def sum_numbers(*args):
    return sum(args)
arr = [1, 2, 3, 4, 5]
sum_numbers(*arr)

15

<h3 style="color:#FFFFFF"><strong>8. create program using map function to upper each char in list of strings.</strong></h3>

In [21]:
def upper(*s):
    return [i.upper() for i in s]
list = ["mohamed", "khaled", "rammah"]
str = map(upper, list)
for i in str:
    print(i, end=" ")

['MOHAMED'] ['KHALED'] ['RAMMAH']

<h3 style="color:#FFFFFF"><strong>9. concatenate string using kwargs.</strong></h3>

In [23]:
def constr(**arr):
    return " ".join(arr.values())
str1="mohamed"
str2="khaled"
str3="rammah"
result = constr(str1=str1, str2=str2, str3=str3)
result

'mohamed khaled rammah'